<div class="container col-sm-12 col-md-12">
  <div class=" col-sm-4 col-md-4">
      <% unless @measurement_set.state == 'active' %>
        <%= link_to "< Previous", edit_measurement_set_path(@measurement_set, state: @measurement_set.prev ), 
                                  :class => 'btn btn-lg btn-success btn-block' %>
      <% end %>
  </div >
  <div class=" col-sm-4 col-md-4 pull-right">
    <%= submit_tag "Next >", :class => 'btn btn-lg btn-success btn-block ' %>
  </div >
</div>
