<h3>Create Measuremet Set</3>

<div class="container col-sm-12">
 <br>
 <div  class="col-sm-8 col-sm-offset-2 panel panel-default">
   <div class="panel-body text-center product-body">
   </div>
</div>
<br>
<div class="container col-sm-12">
<h3 class="col-sm-6 col-sm-offset-3">For <%= spree_current_user.email %><h3>
</div >

<div>
  <div class="container col-sm-4 col-sm-offset-2">
    <%= form_for(@measurement_set) do |f| %>
      <div class="actions">
        <%= f.submit "Lest's Get Started", :class => 'col-sm-2 btn btn-lg btn-success btn-block' %>
      </div>
    <% end %>
  </div >
  <div class="container col-sm-4">
    <%= link_to 'Jump to Measurement', products_path, :class => 'col-sm-2 btn btn-lg btn-success btn-block' %>
  </div >
</div>

